.logo {
  img {
    max-height: 150px;
    margin: auto;
    filter: invert(1);
  }
  h1 {
    margin: 3rem auto;
    text-align: center;
  }
}

[data-theme="dark"] {
  .logo {
    img{
      filter: unset;
    }
  }
}
